CAA records with mixed case or uppercase property tags cause parsing errors

When using using Dnsruby to lookup and parse CAA records that contain mixed case or uppercase property tags cause the code to generate an exception.

```
Lookup CAA records for uppercase-deny.basic.caatestsuite.com
An error occurred (Dnsruby::DecodeError): Cannot parse record: 0 ISSUE "caatestsuite.com"

Lookup CAA records for mixedcase-deny.basic.caatestsuite.com
An error occurred (Dnsruby::DecodeError): Cannot parse record: 0 IsSuE "caatestsuite.com"
```

Per RFC 8659, Section 3 identifiers are case-insensitive and these values are allowed.

"Property identifiers such as 'issue' or 'issuewild' are case-insensitive."


Thanks!
This is now merged.
If you really need this in a release then please let me know.

Hey @alexdalitz, we are running into the same issue, can you create a release for the fix that was merged?

Sure! v1.72.4 is now released :-)

> On 28 Feb 2025, at 19:03, Noah Smethwick ***@***.***> wrote:
> 
> 
> nsmethwick-fastly
>  left a comment 
> (alexdalitz/dnsruby#201)
> Hey @alexdalitz, we are running into the same issue, can you create a release for the fix that was merged? Thank you!
> 
> —
> Reply to this email directly, view it on GitHub, or unsubscribe.
> You are receiving this because you were mentioned.
> 
>  <https://github.com/alexdalitz> <https://github.com/alexdalitz/dnsruby/issues/201#issuecomment-2691355533> <https://github.com/notifications/unsubscribe-auth/AB2WFWUALP2AAWGOWA5MVY32SCXJHAVCNFSM6AAAAABSLOQ34GVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDMOJRGM2TKNJTGM>
> 
> nsmethwick-fastly
>  left a comment 
> (alexdalitz/dnsruby#201)
>  <https://github.com/alexdalitz/dnsruby/issues/201#issuecomment-2691355533>
> Hey @alexdalitz <https://github.com/alexdalitz>, we are running into the same issue, can you create a release for the fix that was merged? Thank you!
> 
> —
> Reply to this email directly, view it on GitHub <https://github.com/alexdalitz/dnsruby/issues/201#issuecomment-2691355533>, or unsubscribe <https://github.com/notifications/unsubscribe-auth/AB2WFWUALP2AAWGOWA5MVY32SCXJHAVCNFSM6AAAAABSLOQ34GVHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMZDMOJRGM2TKNJTGM>.
> You are receiving this because you were mentioned.
> 



Thank you!